@font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: 300;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/18823/ProximaNova-Light.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/18823/ProximaNova-Bold.woff') format('woff');
}

:root{
    font-weight: 100;
}

body{
    background-image: url("public/Nepal_2022_charity-water.jpg");
    background-repeat: no-repeat;
    background-size: 105% auto; 
    background-position-x: 100%;
    background-position-y: 30%;
    display: flex;
    justify-content: right;
}

h1{
    color: #FFF7E1;
    font-family: 'Proxima Nova';
    font-size: 40px;
}

a{
    text-decoration: none;
}

#main-content{
    padding-top: 70px;
    padding-bottom: 100px;
    padding-right: 3%;
    width: 650px;
    min-width: 600px;
    max-width: 650px;
    display: grid;
    place-items: center;
}

#inside-content{
    color: #FFF7E1;
    font-family: 'Proxima Nova Light';
    font-size: 26px;
    line-height: 1.6;
}

#donate-button{
    margin-top: 30px;
    color: #1A1A1A;
    font-family: 'Proxima Nova';
    width: 225px;
    height: 75px;
    border-radius: 36px;
    display: flex;
    justify-content: center;
    background-color: #ffc907;
    font-size: 18px;
    transition: 1s;
}

#donate-button:hover{
    transform: rotate(360deg);
}

#logo{
    margin: 50px;
    width: 250px;
}